.header {
    background: var(--gray-700);
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 7.875rem;
        height: 3rem;
    }
}